<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="FSLogix App Masking Rules Sync" Language="1033" Version="1.0.0.0" Manufacturer="James Murray-Ferris" UpgradeCode="72b52363-e552-4948-85ab-f3d112be8e3b">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="FSLogix App Masking Rules Sync" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="FSLogix App Masking Rules Sync" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="FSLogixAppRules.exe" Guid="E41F033C-051B-4214-895C-EEE61649FA73">
        <File Id="FSLogixAppRules.exe" Source="$(var.FSLogixAppRules.TargetDir)FSLogixAppRules.exe" KeyPath="yes" Checksum="yes"/>
        <ServiceInstall
					Id="ServiceInstaller"
					Type="ownProcess"
					Name="FSAppMaskSync"
					DisplayName="FSLogix App Masking Rules Sync"
					Description="A service that copies FSLogix App Masking Rules and ACLs to the Correct FSLogix Rules Directory (Configure in Config.xml)"
					Start="auto"
					Account="LocalSystem"
					ErrorControl="normal"
				/>
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="FSAppMaskSync" Wait="yes" />
      </Component>
      <Component Id="config.xml" Guid="F8F56EF1-8531-4F6F-B987-AD6240E3B94F">
        <File Id="config.xml" Source="$(var.FSLogixAppRules.TargetDir)config.xml" KeyPath="yes"/>
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
